<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./Assets/styles.css">
    <title>Calendar Login</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="form-container " id="form-registration">

                <!-- The actual registration form -->
            <form action="/register" method="post">
                <h2>SIGN UP</h2>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" >

                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" >

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" >

                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password">
                <!-- <div class="error">
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                    {%for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div> -->
                <input type="submit" value="REGISTER" class="submit-btn">
            </form>
            <div class="bottom-text">
                <input type="checkbox" name="remember" id="remember" checked="checked">Remember Me
                <a href="#">Forgot Password</a>
            </div>
            <a href="#">Already a Member? Sign In</a>
        </div>
    
            <div class="form-container" id="form-login">
    
                <!-- The actual login form -->
                <form action="/login-in" method="post">
                    <h2>LOGIN</h2>
                    <div class="input-container">
                        <label for="email">Email: </label>
                        <input type="text" name="email" id="email" placeholder="email">

                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" placeholder="password">
                    </div>

                    <!-- <div class="error">
                        {% with messages = get_flashed_messages(category_filter=['login']) %}
                        {% if messages %}
                        {%for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div> -->
                    <input type="submit" value="login-in" class="submit-btn">
                </form>
            </div>
    </div>
</body>
</html>