*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#form-login{
    display: none;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(0, 77, 107);
}

.login-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    width: 400px;
    height: 500px;
    padding: 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
}

.form-container h2{
    margin-bottom: 10px;
}

.form-container label{
    font-size: 16px;
}

.form-container input{
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid 1px;
}

.submit-btn{
    margin-top: 20px;
    background-color:rgb(0, 77, 107);
    color:rgb(255, 255, 255);
    border: solid 1px;
}

.bottom-text{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.bottom-text a{
    margin-left: auto;
}
.bottom-text input{
    width: 5%;
    position: relative;
    top: 5px;
}

.form-container a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}